<mat-card class="layout">
  <mat-card-header>
    <mat-card-title class="topTitle">範本管理</mat-card-title>
    <mat-card-subtitle>報表範本設定</mat-card-subtitle>
    <div><button style="border-radius: 20px;line-height: 1.85em;font-size: 15px;font-style:none;"  mat-raised-button color="primary">新增</button></div>
  </mat-card-header>
  <mat-card-content>
    <div style="display: flex;align-items: center;">
      <div class="qryLable1">
        <label>帳戶名稱:</label><!--(keyup)="applyFilter($event)"-->
      </div>
      <div class="qryLable2">
        <input class="input" matInput>
      </div>
      <div class="qryLable1" style="margin-left: 20px;">
        <label>範本名稱:</label><!--(keyup)="applyFilter($event)"-->
      </div>
      <div class="qryLable2">
        <input class="input" matInput>
      </div>
      <div class="qryLable1" style="margin-left: 20px;">
        <label>目標廣告:</label><!--(keyup)="applyFilter($event)"-->
      </div>
      <div class="qryLable2">
        <input class="input" matInput>
      </div>
    </div>
  </mat-card-content>

  <div>
    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="exportSampleData" matSort style="background-color: #EAEEE5;">
        <!--帳戶活動名稱 -->
        <ng-container matColumnDef="accActName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="titleCss">帳戶活動名稱</div></th>
          <td mat-cell *matCellDef="let row"> {{row.accActName}} </td>
        </ng-container>
        <!--報表範本名稱 -->
        <ng-container matColumnDef="exptSampleName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="titleCss">報表範本名稱</div></th>
          <td mat-cell *matCellDef="let row"> {{row.exptSampleName}} </td>
        </ng-container>
        <!--目標廣告 -->
        <ng-container matColumnDef="goalAds">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="titleCss">目標廣告</div></th>
          <td mat-cell *matCellDef="let row"> {{row.goalAds}} </td>
        </ng-container>
        <!--煤鐵選項 -->
        <ng-container matColumnDef="mediaType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="titleCss">媒體選項</div></th>
          <td mat-cell *matCellDef="let row"> {{row.mediaType}} </td>
        </ng-container>
        <!--修改時間 -->
        <ng-container matColumnDef="creatDt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><div class="titleCss">修改時間</div></th>
          <td mat-cell *matCellDef="let row"> {{row.creatDt}} </td>
        </ng-container>
        <!--功能 -->
        <ng-container matColumnDef="func">
          <th mat-header-cell *matHeaderCellDef><div class="titleCss">功能</div></th>
          <td mat-cell *matCellDef="let row">
            <div style="display: flex;justify-content: center;">
              <div><button mat-button color="primary">編輯</button></div>
              <div><button mat-button color="warn">刪除</button></div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator class="pageFooter" [length]="totalCount" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</mat-card>
