<div class="container">
  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="exportSampleData" matSort>
      <!--帳戶活動名稱 -->
      <ng-container matColumnDef="accActName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>帳戶活動名稱</th>
        <td mat-cell *matCellDef="let row"> {{row.accActName}} </td>
      </ng-container>
      <!--報表範本名稱 -->
      <ng-container matColumnDef="exptSampleName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>報表範本名稱</th>
        <td mat-cell *matCellDef="let row"> {{row.exptSampleName}} </td>
      </ng-container>
      <!--目標廣告 -->
      <ng-container matColumnDef="goalAds">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>目標廣告</th>
        <td mat-cell *matCellDef="let row"> {{row.goalAds}} </td>
      </ng-container>
      <!--煤鐵選項 -->
      <ng-container matColumnDef="mediaType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>媒體選項</th>
        <td mat-cell *matCellDef="let row"> {{row.mediaType}} </td>
      </ng-container>
      <!--修改時間 -->
      <ng-container matColumnDef="creatDt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>修改時間</th>
        <td mat-cell *matCellDef="let row"> {{row.creatDt}} </td>
      </ng-container>
      <!--功能 -->
      <ng-container matColumnDef="func">
        <th mat-header-cell *matHeaderCellDef>功能</th>
        <td mat-cell *matCellDef="let row">
          <div style="display: flex;justify-content: center;">
            <div><button mat-button color="primary">編輯</button></div>
            <div><button mat-button color="warn">刪除</button></div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator class="pageFooter" [length]="totalCount" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
