/**最外層*/
.layout {
  position: relative;
  margin-top: 10px;
  height: auto;
  width: 93%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #EAEEE5;
}

/**table 內容*/
.table-container {
  position: relative;
  min-height: 200px;
  max-height: 500px;
  overflow: auto;
  border-radius: 10px;
}

table {
  width: 100%;
}

/* .mat-header-cell.mat-column-accActName {
  color: red; 500: #AADCB6, //預設
  600: #7ABD87,
  700: #3E7E55,
} */
.mat-cell.mat-column-accActName {
  font-weight: bold;
}

.mat-header-cell.mat-column-func {
  text-align: center;
}

.mat-header-row {
  background-color: #AADCB6;
}
.titleCss{

  font-size: 18px;
  letter-spacing: 1.2px;
}
.top{
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #EAEEE5;
  max-height: 84vh;
  width: 93%;
}
.topTitle{
  font-size: 24px;
  letter-spacing: 1.2px;
  font-weight: bold;
}
.pageFooter{
  background-color: #EAEEE5;
}
