.header{
  width:  100%;
  margin-top: 10px;
  margin-left: -15px;
}
.Windows{
  width: 100%;
  height: auto;
  padding-top: 4px;
}
.WindwsDiv{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.modal-header{
  border-bottom: 1px solid #AADCB6 !important;
  color: #AADCB6;
  width: 100%;
}
.modal-header_Ttitle_label{
  margin-bottom: -8px;
  font-size: 20px;
}
.InputTable_S{
  color: #808080;
  text-align: left;
  width: 100%;
}
.InputTable_S td{
  font-family: NotoSansCJKtc;
  padding-top: 10px;
  padding-bottom: 10px;
  padding:  none !important;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.45;
  letter-spacing: 2px;
  text-align: left;
  color: #747474;
}
.footer{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  text-align: center;
  border-top: 2px solid #AADCB6;
  margin:0px auto;
}
.Btn{
  width: 64px;
  height: 33px;
  border-radius: 7px;
  line-height: 29px;
  font-size: 15px;
  margin-top: 5px;
  background-color: #AADCB6;
  border: 2px #808080 solid;
}
.Btn:hover{
  background-color: rgba(106, 201, 62,0.3);
}
.CloseBtn{
  color: #AADCB6;
}
.CloseBtn:hover{
  color: rgba(106, 201, 62,0.3);
}
.status {
  width: 100%;
  margin-top: 5%;
  margin-bottom: -4%;
  font-family: NotoSansCJKtc;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.1;
  letter-spacing: 2px;
  text-align: left;
  color: #747474;
  display: flex;

  text-align: left;
  border-top: 2px solid #AADCB6;
}
