.layout{
  display: flex;
  font-size: 24px;
  margin: 0;
  font-family: 'Palanquin Dark', Arial, Helvetica, sans-serif,"Noto Sans TC";
  line-height: 1.2em;
  color:#EAEEE5;
  letter-spacing:2px;
  -webkit-text-size-adjust:100%;
}
/**原來的兩倍*/
.icon{
  transform: scale(1.5);
  margin-bottom: 8px;
}
.loginNameCss{
  margin-right: 50px;
}
.signOut{
  font-weight: bold;
  margin-right: 20px;
}
.signOut:hover{
  cursor: pointer;
}
