<!--最外層-->
<div class="layout1">
  <!--左側欄-->
  <div class="aside_left">
    <app-aside></app-aside>
  </div>
  <!--右側欄-->
  <div class="aside_right">
    <div class="layout2">
      <!--上層-->
      <div class="top">
        <div class="top_layout">
          <div class="top_item">
            <app-top></app-top>
          </div>
        </div>
      </div>
      <!--內容-->
      <div class="content">
        <div class="content_layout">
          <div class="content_item">
            內容
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

