<div class="homePage">
  <div class="title">
    <h1>首頁(可放LOGO)</h1>
  </div>
  <div class="body">
    <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
      <mat-button-toggle [routerLink]="'/about'" value="red">關於我們</mat-button-toggle>
      <mat-button-toggle [routerLink]="'/product'" value="green">產品介紹</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="footer">

  </div>
</div>


<hr />

<ul>
  <li><a [routerLink]="'/about'">關於我們</a></li>
  <li><a [routerLink]="'/product'">產品介紹</a></li>
</ul>

<router-outlet></router-outlet>
